:root {
  --font-title-size: clamp(1rem, 2vw, 2rem);
  --font-regular-size: clamp(0.8rem, 1.5vw, 1.5rem);
}

@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("./fonts/poppins-regular-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 300;
  src: url("./fonts/poppins-light-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-weight: 900;
  src: url("./fonts/poppins-black-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 700;
  src: url("./fonts/poppins-bolditalic-webfont.woff2") format("woff2");
}

@font-face {
  font-family: "Poppins";
  font-style: italic;
  font-weight: 400;
  src: url("./fonts/poppins-italic-webfont.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  /* border: solid red; */
}

body {
  font-family: Poppins, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 400;
  display: flex;
  padding: 0;
  margin: 0;
  background-color: rgb(250, 250, 250);
}

button,
input,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  width: 300px;
  height: 2rem;
  padding: 0;
  margin: 0;
  display: block;
}

ul {
  display: flex;
  flex-wrap: wrap;
  gap: 3rem;
  padding: 1rem 0;
  margin: 0;
  list-style-type: none;
}

.left-content {
  background-image: url(./images/Meyers_b3_s0084a.jpg);
  background-color: #e6e6e6;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
  border-right: solid 0.2px black;
  flex: 1;
  min-width: 100px;
  position: relative;
}

.image-sidebar {
  background-color: black;
  opacity: 0.7;
  position: absolute;
  width: 100%;
  height: 150px;
  top: 25vh;
  display: flex;
  justify-content: center;
  color: white;
  padding: 1.5rem;
}

.logo-image {
  width: 120px;
  height: 100%;
  z-index: 1;
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(270deg)
    brightness(102%) contrast(105%);
}

.logo-text {
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 2.5rem;
}

.right-content {
  flex: 2;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.instructions {
  flex: 1.2;
  font-size: var(--font-title-size);
  padding: 0 3rem 3rem 3rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 900px;
}

.sign-up {
  flex: 1;
  background-color: white;
  padding: 1rem 3rem;
  box-shadow: -1px 3px 8px #bdbdbd;
}

.create-account {
  flex: 1;
  padding: 2rem 3rem 0;
}

@media (max-width: 1250px) {
  body {
    flex-direction: column;
    min-width: 360px;
  }
  .left-content {
    height: 20vh;
    background-position: 20% 20%;
    position: static;
  }
  .image-sidebar {
    position: static;
  }
  .instructions {
    width: 100%;
    padding: 2rem 3rem;
  }
  .sign-up,
  .create-account {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
